body{
    background-color: rgb(242, 221, 238);
     width:100%;
     margin: 0;
     padding: 0;
    
     height:auto
   }
   .items-div{
      
       justify-content: center;
   }
   #video-container {
    position: fixed; /* Fix the position of the video */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the video behind other content */
}
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire area */
}




   .nav-data{
       font-size: 1rem;
   
       display: block;
       position:relative;
       text-decoration:none;
       padding:5px;
      color:white;
       font-family: sans-serif;
       text-transform:uppercase;
       transition:0.5s;
   
   }
   
   
   .nav-logo{
       margin-right: 50px;
       width:100px;
   }
   
   
   
   .nav-items{
       margin-top:20px;
     padding:0;
     display:flex;
   }
   
   .nav-item{
     
       list-style:none;
     margin:0 20px;
     transition:0.5s;
   }
   .mynav {
     transition: background-color 0.3s ease;
     height:70px;
    
   }
   
   .nav-data:hover{
       
     transition: 0.5s ease;
     transform:scale(1.2);
   opacity:1;
   filter:blur(0);
   text-decoration:none;
   color:#fff;
   
   }
   .nav-data:before{
     content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:#346fee;
   transition:0.5s;
   transform-origin:right;
   transform:scaleX(0);
   z-index:-1;
   border-radius: 15px;
   }
   .nav-data:hover:before{
     transition:transform 0.5s;
   transform-origin:left;
   transform:scaleX(1);
   }
   
   .home-button{
       margin-left: 20px;
       
       font-size: 1.1rem;
       height:40px;
       background-color:#346fee;
       color:white;
       border-radius: 5px;
   
   }
   .home-body{
   
    
       height:100vh;
       position: relative;
       width: 100%;
     
       background-size: cover;
        overflow: hidden;
      transition: background-image 1s ease-in-out;
        
         
   }
   
   .home-para{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height:80vh;
       color:white;
       animation: moveup 2s ease-in-out;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       z-index: 1;
   }
   .para1{
     margin-top: 250px;
       font-size: 2rem;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .c{
    color:rgb(255, 0, 60);
   }
   .b{
    color:#346fee;
   }
   h1{
       font-size: 4rem;
   }
   .home-span{
       color:#346fee;
   }
   
   .holiday,.about-p{
    color:white;
   }
   .about-body{
       margin-top: 10vh;
       margin-left:15vw;
       display: flex;
       flex-direction: row;
   }
   .about-img{
       width:430px;
       height:620px;
       border-radius: 15px;
   }
   
   
   .about-para{
        width:600px;
       padding-left: 100px;
       height:700px;
       font-size: 1.1rem;
        
       
   }
   
   .rooms-body{
       display: flex;
       flex-direction: row;
       margin-left: 100px;
      
   }
   .card1,.card2,.card3{
      
       margin:30px;
       transition: transform 0.2s linear;
       min-height: 550px;
       width:80rem;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin-right:50px;
       
   }
   .card1:hover,.card2:hover,.card3:hover{
       transform: scale(1.05,1.03);
       cursor:pointer;
       
   }
   
   .room-head{
       color:black;
     
       
       text-align: center;
      
   }
   .room1-title,.room2-title,.room3-titlw{
       font-size: 1.4rem;
   
   }
   .room1-text,.room2-text,.room3-text,.room-p{
       font-size: 1.2rem;
   
   }
   
   .room1-button,.room2-button,.room3-button{
       font-size: 1.1rem;
       position: absolute;
   
   }
   .room-span{
       font-weight: bold;
       font-size: 1.1rem;
   }
   .service-body {
       display: flex;
       flex-wrap: wrap;
       
     
   }
   .room1,.room2,.room3{
    height:300px;
   }
   .cultural-events {
    height: 82vh;
    width: 100%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-size: large;
    font-weight: bold;
    margin-top: 100px;
    
}

.cultural-events::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('culturalfest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity:0.7;
}

.cultural-head {
    text-align: center;
}

.cultural-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cultural-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cultural-ul li {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.ce {
    font-size: 30px;
    color: rgb(234, 28, 110);
    margin: 10px;
}

.when, .register, .required{
    display: block;
    margin-top: 10px;
}

.where{
    width: 100px;
}
  a{
    text-decoration: none;
    color: white;
  }
.technical-events{

  height:82vh;
  width: 100%;
    color:white;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    margin-top:70px;
}
.technical-events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('techfest1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
 
}
.technical-head {
  text-align: center;
}

.technical-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technical-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technical-ul li {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.ce {
  font-size: 30px;
  color: rgb(234, 28, 110);
  margin: 10px;
}

.when, .register, .required{
  display: block;
  margin-top: 10px;
}





.gallery .heading{
  margin-top: 5.1rem;
  margin-bottom: 3.2rem;
  text-align: center;
}
.gallery .gallery-slider .swiper-slide{
  overflow: hidden;
  border-radius: .5rem;
  height: 37rem;
  width:20rem;
}

.gallery .gallery-slider .swiper-slide img{
  height:100%;
  width:100%;
  object-fit: cover;
}
   .about-img {
     
       background-color: #ccc;
     /* Initially hidden */
       
     }
    
     .faqs{
      margin-top: 70px;
     }
     .faq{
      width:100vw;
     }
     .faq-heading{
      text-align: center;
      color: #346fee;
     }
     .accordion{
      max-width: 1000px !important;
      margin: 50px auto;
      box-shadow: 0 2px 25px 0 rgba(110, 130, 208, .18) !important;
      margin-top: 20px;
  }
  
  .accordion-button{
      background-color: #aaedfc !important;
      color: black !important;
      position: relative;
      box-shadow: none !important;
  }
  
  .accordion-button:active, .accordion-button:focus{
      border: none !important;
  }
  
  .accordion-button:hover{
      background:skyblue !important;
  }
  
  .accordion-button::after{
      content: "";
      background: #fff;
      transform: scale(1.2);
      border-radius: 3px;
      transition: .5s !important;
  }
   
   
     
     ul {
       list-style-type: none;
       padding: 0; /* Remove default padding */
       margin: 0;  /* Remove default margin */
   }
   
   li {
       padding: 20px;
       text-align: left;
       margin-left: 0; /* Ensure no left margin */
   }
   
   .contact {
       margin-top: 30px;
      
       width: 1060px;
       margin-left: auto; /* Center the contact div horizontally */
       margin-right: auto; /* Center the contact div horizontal*/
       display: flex;
       flex-direction: row;
       height:530px;
   
   }
   .contact-heading{
    text-align: center;
    color: #346fee;
   }
   .contact-info {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #004e92, #00c6ff);
    width: 600px;
}

.contact-form {
    background: linear-gradient(45deg, #3cef7b, #5fefbf);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
   
   .contact div {
       padding: 17px;
   }
   
   .contact-icons2 i {
       padding: 20px;
       margin: 5px;
   }
   input:not([type="button"]) {
   
     width:250px;
     padding: 10px;
       box-sizing: border-box; /* Include padding and border in the element's total width and height */
       margin-top: 20px; /* Add space between elements */
       resize: vertical; /* Allow only vertical resizing for textarea */
       border: 1px solid #ccc; /* Optional: Add a border */
       border-radius: 15px; /* Optional: Add rounded corners */
       box-shadow: inset 5px 4px 8px rgba(242, 210, 210, 0.767); /* Inner shadow */
   }
   
   textarea{
     width:500px;
     height:150px;
     padding: 10px;
       box-sizing: border-box; /* Include padding and border in the element's total width and height */
       margin-top: 20px; /* Add space between elements */
       resize: vertical; /* Allow only vertical resizing for textarea */
       border: 1px solid #ccc; /* Optional: Add a border */
       border-radius: 15px; /* Optional: Add rounded corners */
       box-shadow: inset 5px 4px 8px rgba(242, 210, 210, 0.767); /* Inner shadow */
   }
   ul span{
     margin-left: 25px;
   }
   .contact-info h2{
     font-size: 30px;
     margin-left: 30px;
   }
   .contact-info p{
     margin-left: 30px;
     font-size: 20px;
   
   }
   
   .contact-icons1{
   
     font-size:20px;
   
   }
   .contact-icons2{
    margin-left: 55px;
   
   }
   
   
   .contact-button{
   
     box-shadow: inset 5px 4px 8px rgba(108, 126, 242, 0.767); /* Inner shadow */
       margin-top: 15px;
       font-size: 1.1rem;
       height:40px;
       background-color:#0552f9;
       color:white;
       border-radius: 15px;
       width:150px;
       border: 2px solid white;
   
   }
   input:focus,textarea:focus{
     border: 1px solid white;
     outline: none;
   
   }
   .map{
     margin-top:50px;
     border:1px solid  #346fee
   }
   .about-address{
     color:#346fee;
     font-size: 1.5rem;
     width:400px;
   }
   .foot-links{
     display: flex;
     flex-direction: row;
     background-color: black;
     font-family:Arial, Helvetica, sans-serif;
   }
   .ql-a,.os-a,.cu-a,.kgh-a{
   text-decoration: none;
   color:white;
   opacity: 0.5;
   font-size: 15px;
   
   
   }
   .ql-a:hover,.os-a:hover,.cu-a:hover,.kgh-a:hover{
   
     opacity: 1;
     
   }  
   .foot-links h3{
     font-size: 20px;
     margin-bottom: 40px;
   }
   .kgh,.os,.ql,.cu{
     width:300px;
     color:white;
     margin: 20px;
     margin-top: 80px;
   
   }
   
   .foot-button{
     color:white;
     background-color: #346fee;
     height:40px;
     border-radius: 5px;
   }
   
   .kgh{
     margin-left: 120px;
   }
   
   .kgh p{
     color: white;
     opacity: 0.5;
     font-size: 15px;
   }
   
   .y-img,.f-img,.t-img,.i-img{
     width:27px;
     height:27px;
     padding:0px;
     margin:0px 7px;
     border-radius: 5px;
     
   }
   .faqs{
    margin-bottom: 200px;
   }
   
   .cu p{
    opacity: 0.5;
   }
   .cu p:hover{
    opacity: 1;
   }
   .msg{
    margin-top: -30px;
   }
   
   @media (max-width: 990px) {
     .mynav{
      
       font-size: 0.8rem;
       width:125%;
       
     }
   
     .home-button{
       width:120px;
       height:40px;
       margin-right:420px;
     
     }
     .nav-item{
       padding:20px;
       margin:0px;
       
     }
     body{
      width:100%;
    overflow-x: hidden;
    
     }
     .home-body{
       width:125%;
       background-size: 100% 100%;
       background-position: fixed;
     }
    .about-img{
     margin-top: 40px;
     height:650px;
     width:500px;
   
   
    }
    .about-body{
   
     height:130%;
   
    }
    .about-para{
     margin-right:80px;
     width:650px;
    }
   
    .card1,.card2,.card3{
     width:500rem;
     height:500px;
     margin:10px;
     margin-right: 50px;
    }
   .rooms{
     width:110%;
     margin-left:80px;
   }
    .cu{
     margin-right: 200px;
    }
    .foot-links h3{
     font-size: 20px;
     margin-bottom: 40px;
   }
   .kgh,.os,.ql,.cu{
     width:300px;
     color:white;
     margin: 25px;
     margin-top: 80px;
     
   }
     
   }
   
   
   
   
   @media only screen and (max-width:992px){
   
   
   .para1{
     font-size:1.1rem;
     opacity: 0.8;
     text-align: center;
     margin-right:70px;
     margin-top: 100px;
   }
   .home-para h1{
     font-size: 1.7rem;
     margin-right:70px;
   
   }
   .about-body {
     flex-direction: column;
     align-items: center;
     margin-right: 0;
     min-width: 110%;
    
   }
   .about-head{
     font-size: 2.5rem;
   }
   
   .about-img {
   
     margin-right: 40px;
     width:300px;
     height:600px;
   }
   
   
   .about-para {
   
     width: 400px;
     margin-left: 0px;
     margin-right: 150px;
     height:auto;
   }
   .about-address{
     margin-left: 0px;
     width:320px;
     height:auto;
    
   }
   .about-head {
     width: 300px;
    
   }
   
   .rooms {
     margin-top: 600px;
     max-width: 110%;
    overflow-x: hidden;
   margin-left: 10px;
   }
   
   .rooms-body {
     display: flex;
     flex-direction: column;
     align-items:center;
     margin-left: 0px;
     
   }
   .room-head{
     font-size:2.5rem;
    
     font-weight: bold;
   }
   
   .card1, .card2, .card3 {
     width: 700px;
     margin-bottom: 20px;
     margin-right: 0px;
     margin-left: 0px;/* Adds space between cards */
     height:auto;
   }
   
   .custom-card-width {
     max-width: 300px; /* Adjust this value to control the width of the cards */
   }
  
 
   .cultural-ul li, .technical-ul li {
    flex: 1 1 100%;
}

.cultural-events, .technical-events {
    height: auto;
    padding: 10px;
}

.cultural-events::before, .technical-events::before {
    
    background-position: center;
     /* Optionally remove blur for smaller devices */
}




   
 

   
   
   
 .contact-heading{
  width:100%;
  margin-right:100px;
 }
   .contact{
     display: flex;
     flex-direction: column;
     height: auto;
     margin-right: 0;
     margin-left: 0px;
     width: 100%;
   
   }
     .contact-info{
       border-radius: 15px;
      font-size: 1rem;
       width: 130%;
       
   
     }
     .contact-icons1 ul li{
    margin-left: 0;
     }
     
     .phone{
       width:120%;
     }
     .mail{
       width:140%;
     }
     .contact-form{
       margin-top: 20px;
     }
     .contact-form div{
       margin:1px;
   
     }
     .msg{
       max-width:300px;
       height:200px;
     }
     .foot-links{
       
   max-width:100%;
   
   
   
     }
     .foot-links div{
       margin:3px;
       
      
     }
     .foot-links div h3{
       font-size:12px;
     }
     .foot-links div p a{
       font-size: 12px;
     }
     .f-img,.y-img,.t-img,.i-img{
       width:20px;
       height: 20px;
       margin:4px;
     }
     .copy{
       font-size:12px;
     }
     .foot-button{
       height: 50px;
     }
     .nav-data{
       margin:4px;
       padding: 0px;
       
   
     }
     .nav-item{
       padding:0px;
     }
     .nav-items{
       
       width:200px;
     }
    .nav-tog{
     
   
     background-color: white;
    }
    .mynav{
     flex-direction: column;
     position: relative;
     border-radius: 15px;
    }
   
   
   
    
   }
   